p{
    margin: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.qv_home_wrapper {
    /* background-image: linear-gradient( 180deg, rgb(89,70,224) 0%, rgb(51,141,207) 88%); */
    background-image: -webkit-linear-gradient( 180deg,rgb(89,70,224) 0%,rgb(51,141,207) 88%);
    padding: 20px 0 24px;
}
.qv_home_wrapper .navbar a {
    align-items: center;
    display: flex;
    padding: 11px;
}
.qv_noti_section{
    position: relative;
}
a.qv_noti_section:last-child {
    border-right: none;
}
.navMenu a {
    color: rgb(255 255 255)!important;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: all 0.2s linear;
}
.navMenu a.active::after {
    content: url(../../assets/images/menu_shape.webp);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.navbar-collapse {
    flex-grow: unset;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../../assets/images/menu.webp) !important;
}
.navbar-light .navbar-toggler {
    border-color: #ffffff00;
}
a.qv_noti_section img {
    padding-right: 4px;
}
/* =========Advertisment========== */
.qvAdvertisment {
    box-shadow: 0px 0px 10px grey;
    padding: 15px 20px 15px 110px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    border-radius: 50px;
    position: relative;
    margin: 59px 120px 0;
}
.qvAdvertisment span {
    position: absolute;
    left: 0;
    top: 5px;
}
.qvAdvertisment p {
    font-size: 18px;
    font-weight: 400;
    color: #222;
}

.prfle_logout ul li img {
    max-width: 27px;
    border: 1px solid #6265ac;
    border-radius: 50%;
}
/* .qv_noti_section span {
    color: #fff !important;
} */

.notify_popyp_box {
    text-align: left;
}

span.noti-count {
    position: absolute;
    color: #fff;
    background: red;
    top: 0px;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    transform: translate(8px, 5px);
}
button#dropdown-basic {
    background: no-repeat;
    border: none;
    font-size: 0px;
    padding: 0;
    margin: 0;
}
.dropdown img {
    width: 25px;
}
.dropdown a {
    color: #222 !important;
    padding: 5px 10px;
}
.navbar.is-sticky {
    position: fixed!important;
    background-image: -webkit-linear-gradient( 180deg,rgb(89,70,224) 0%,rgb(51,141,207) 88%);
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

div#notify_popyp {
    position: absolute;
    top: 70px;
    background: #fff;
    width: 400px;
    left: -300px;
    right: 0;
    z-index: 999;
    padding: 15px 15px;
    min-height: 400px;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px #c5c5c5;
    border-radius: 7px;
}
.notify_popyp_heading {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 -15px 25px;
    padding: 0 15px 15px;
}
.notify_popyp_heading h5 {
    font-size: 26px;
    color: #333;
}
.notify_popyp_box li {
    margin-bottom: 20px;
}
.notify_popyp_body {
    display: flex;
}
.notify_popyp_txt h5 {
    font-size: 18px;
    color: #333;
}
.notify_popyp_txt p {
    font-size: 15px;
    padding-top: 3px;
    color: #8d8d8d;
}
.notify_popyp_txt h6 {
    font-size: 14px;
    font-weight: 400;
    color: #626262;
    padding-top: 5px;
}

.hideNotify {
    display: none;
}
/* ==========Responsive CSS=========== */
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -30px;
}
}
@media screen and (max-width: 992px) {
    .navMenu a.active::after{
        display: none;
    }
    .navbar a {
        padding: 10px 20px;
    }
    span.noti-count {
        transform: translate(8px, 0px);
    }
    .me-auto.navMenu.navbar-nav {
        border: 1px solid #3784d0;
        border-radius: 10px;
        box-shadow: 0px 0px 15px #554dde;
    }
    div#notify_popyp {
        top: 50px;
        left: 0px;
        width: 100%;
    }
    .navMenu {
        overflow-y: scroll;
        height: 100vh;
        padding-bottom: 100px;
    }
        
}
